{% extends 'OlitazHomeBundle::base_home.html.twig' %}

{% block content %}
    <!--  Edito Noir   -->
    <div id="edito">
        <div class="para1">
            <p class="editoTitre">Olitaz</p>
            <p class="editoTexte">
                Olitaz propose ses services en développement et en consuting depuis janvier 2011. Jeune et petite structure, nous n'en sommes pas mois passionés par notre métier.
            </p>
            <p class="editoLink">
                <a href="{{ path('OlitazHomeBundle_presentation') }}" title="Présentation de Olitaz"><img src="{{ asset('/bundles/olitazhome/images/btn/editoSavoirPlus1.png') }}" alt=" En savoir plus sur Olitaz" /></a>
            </p>
        </div>
        <div class="para2">
            <p class="editoTitre">Audit & Conseil</p>
            <p class="editoTexte">
                Nous sommes à votre disposition pour vous conseiller lors de vos développements internes. Process, infrastructure, questions techniques, faites confiance à notre expertise.
            </p>
            <p class="editoLink">
                <a href="prestations.html" title="Solutions de Olitaz"><img src="{{ asset('/bundles/olitazhome/images/btn/editoSavoirPlus2.png') }}" alt="Découvrir les solutions de Olitaz" /></a>
            </p>
        </div>
        <div class="para3">
            <p class="editoTitre">Développement</p>
            <p class="editoTexte">
                Quelques soient vos besoins, nous vous proposons des solutions adaptées pour y répondre. Découvrez notre domaine de compétences et les méthodes généralement utilisées.
            </p>
            <p class="editoLink">
                <a href="prestations.html" title="Stratégie de Olitaz"><img src="{{ asset('/bundles/olitazhome/images/btn/editoSavoirPlus3.png') }}" alt="Découvrir la stratégie Olitaz" /></a>
            </p>
        </div>
    </div>
        
        
        
    <!--  Contenu home   -->
    <div id="content">
        <div class="cadreHomeBottom">
            <div class="cadreHomeTop">
                {% render 'OlitazHomeBundle:Default:news' with {}, {'standalone': true} %}
                    
                <div class="lastRea">
                    <h1>Les dernières réalisations</h1>
                    <div class="reaBloc1">
                        <p><img src="{{ asset('/bundles/olitazhome/images/illustr/rea01.jpg') }}" alt="Realisation 01" class="cadre" /></p>
                        <p class="bold">13.06.2011</p>
                        <p class="black">Hanc regionem praestitutis celebritati diebus qui admissi herbidas</p>
                        <p>Invadere parans dux ante edictus per solitudines Abo raeque amnis herbidas ripas, suorum indic...</p>
                        <p class="pLink"><a href="" title="">Lire la suite</a></p>
                    </div>
                    <div class="reaBloc2">
                        <p><img src="{{ asset('/bundles/olitazhome/images/illustr/rea02.jpg') }}" alt="Realisation 01" class="cadre" /></p>
                        <p class="bold">13.06.2011</p>
                        <p class="black">Hanc regionem praestitutis celebritati diebus qui admissi herbidas</p>
                        <p>Invadere parans dux ante edictus per solitudines Abo raeque amnis herbidas ripas, suorum indic...</p>
                        <p class="pLink"><a href="" title="">Lire la suite</a></p>
                    </div>
                </div>
                <hr class="clear" />
            </div>
        </div>
    </div>
{% endblock %}
