<div class="lastNews">
    <h1>Les derniers articles</h1>
    {% if posts is empty %}
        <p>Oups! Il semblerait qu'une erreur soit survenue durant la récupération des articles!</p>
        <br />
        <p>N'hésitez pas à me <a href="{{ path('OlitazHomeBundle_contact') }}" title="contacter Olitaz">contacter</a> pour me signaler le problème! :) Merci!</p>
    {% else %}
        {% for post in posts %}
            <p class="bold">{{ post.date|date("d/m/Y") }}</p>
            <p class="black">{{ post.title }}</p>
            <p>{{ post.body }}</p>
            <p class="pLink"><a href="{{ post.url }}" title="{{ post.title }}">Lire la suite</a></p>
        {% endfor %}
    {% endif %}
</div>
