{% extends 'OlitazHomeBundle::base.html.twig' %}

{% set nav = 'contact' %}
{% set ariane = [ { 'href': url('OlitazHomeBundle_contact'), 'name': 'Contact', 'title': 'Contacter la société Olitaz' } ] %}

{% block content %}
<div id="content">
    <div class="colPetit">
        <div class="colPetitTop">
            <h1>Coordonnées</h1>
            <p class="black">
                Olivier DOLBEAU<br/>
                Consultant et développeur Web
            </p>
            <p>
                13 rue des carreaux<br/>
                95640 Marines<br/>
                06.31.53.20.10
            </p>
            <p><a href="mailto:ocontact@olitaz.com">ocontact@olitaz.com</a></p>
            <br/>
            <p>
                <a href="" title="Olitaz sur Facebook"><img src="{{ asset('/bundles/olitazhome/images/btn/fb.png') }}" alt="Olitaz sur Facebook" /></a>
                <a href="" title="Olitaz sur Twitter"><img src="{{ asset('/bundles/olitazhome/images/btn/tw.png') }}" alt="Olitaz sur Twitter" /></a>
                <a href="" title="Olitaz sur Skype"><img src="{{ asset('/bundles/olitazhome/images/btn/sk.png') }}" alt="Olitaz sur Skype" /></a>
                <a href="" title="Olitaz sur LinkedIn"><img src="{{ asset('/bundles/olitazhome/images/btn/in.png') }}" alt="Olitaz sur LinkedIn" /></a>
                <a href="" title="Olitaz sur FlickR"><img src="{{ asset('/bundles/olitazhome/images/btn/fr.png') }}" alt="Olitaz sur FlickR" /></a>
                <a href="" title="Suivre Olitaz"><img src="{{ asset('/bundles/olitazhome/images/btn/rss.png') }}" alt="Suivre Olitaz" /></a>
            </p>
            <br/>
            <p><img src="{{ asset('/bundles/olitazhome/images/illustr/carte.png') }}" alt="Olitaz à Marines (95)" /></p>
        </div>
    </div>
    <div class="colMoyen">
        <div class="colMoyenTop">
            <h1>Envoyez un message</h1>
            <form action="{{ path('OlitazHomeBundle_createContact') }}" method="post" {{ form_enctype(form) }}>
                {{ form_errors(form) }}
                <div class="col1">
                    {{ form_errors(form.name) }}
                    {{ form_label(form.name, "Votre nom") }}
                    {{ form_widget(form.name, { 'attr': {'class': 'type1'} }) }}
                </div>
                <div class="col2">
                    {{ form_errors(form.mail) }}
                    {{ form_label(form.mail, "Votre email") }}
                    {{ form_widget(form.mail, { 'attr': {'class': 'type1'} }) }}
                </div>
                <div>
                    {{ form_errors(form.subject) }}
                    {{ form_label(form.subject, "Sujet") }}
                    {{ form_widget(form.subject, { 'attr': {'class': 'type2'} }) }}
                </div>
                <div>
                    {{ form_errors(form.content) }}
                    {{ form_label(form.content, "Votre message") }}
                    {{ form_widget(form.content) }}
                </div>
                <p class="validForm">
                    {{ form_rest(form) }}<br />
                    <input name="valid" type="image" title="Contacter Olitaz" src="{{ asset('/bundles/olitazhome/images/btn/valider.png') }}" />
                </p>
            </form>
            <p class="note"><span>*</span> Tous les champs sont obligatoires</p>
            <br/><br/><br/><br/>
        </div>
    </div>
</div>

{% endblock %}
