<div class="header" id="header_{{ type }}">
    <div id="logo">
        <a href="{{ path('OlitazHomeBundle_homepage') }}" title="Retour à la page d'accueil de Olitaz">
            <img src="{{ asset('/bundles/olitazhome/images/btn/logoOlitaz.png') }}" alt="Retour à la page d'accueil de Olitaz" />
        </a>
    </div>

    {% if nav is not defined %}
        {% set nav = '' %}
    {% endif %}

    <div id="menu">
        <ul>
            <li class="first {% if nav == 'home' %}current{% endif %}">
                <a href="{{ url('OlitazHomeBundle_homepage') }}" title="Page d'accueil de la société Olitaz">Accueil</a>
            </li>
            <li class="{% if nav == 'presentation' %}current{% endif %}">
                <a href="{{ url('OlitazHomeBundle_presentation') }}" title="Présentation de la société Olitaz">Présentation</a>
            </li>
            <li class="{% if nav == 'prestations' %}current{% endif %}">
                <a href="{{ url('OlitazHomeBundle_prestations') }}" title="Prestations proposées par Olitaz">Prestations</a>
            </li>
            <li class="{% if nav == 'contact' %}current{% endif %}">
                <a href="{{ url('OlitazHomeBundle_contact') }}" title="Contacter la société Olitaz">Contact</a>
            </li>
        </ul>
    </div>

    <p class="ariane">
        Vous êtes ici :
        <a href="home.html" title="Retourner à l'accueil de Olitaz">Accueil</a>
        {% if ariane is defined %}
            {% for link in ariane %}
                > <a href="{{ link.href }}" title="{{ link.title }}">{{ link.name }}</a>
            {% endfor %}
        {% endif %}
    </p>
</div>
